
__pycache__/
*.py[cod]
*$py.class



env/


*.log
*.pot
*.pyc
*.pyo
*.mo
*.db
db.sqlite3
media/
staticfiles/
static/


.env


.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db


.coverage
htmlcov/
.tox/
pytest_cache/
